python-dotenv
pandas
numpy
pyarrow
tqdm
PyYAML
spotipy
openai
lyricsgenius
nltk
plotly
streamlit
langdetect
rapidfuzz
tenacity
bertopic==0.16.4
sentence-transformers==3.0.1
umap-learn>=0.5.6
hdbscan>=0.8.33
plotly>=5.0.0
sklearn
cosine_similarity
pyvis==0.3.2 
networkx==3.2.1 
scikit-learn==1.5.1

